<!DOCTYPE html>
<!-- License: MIT License -->
<html lang="en" ng-app="teamGenerator">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ShakeItUp Pok&eacute;mon Team Generator</title>
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="third-party/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/generator.css" />
</head>

<body ng-controller="GeneratorController">

    <div class="page-header text-center">
        <h2>Random Pok&eacute;mon Team Generator<br /><small>created by Honko</small></h2>
    </div>

    <div class="text-center">
        <p>
            <div class="btn-group">
                <label class="btn btn-default" ng-model="gen" uib-btn-radio="'rby'" ng-change="generateNewTeam()">RBY</label>
                <label class="btn btn-default" ng-model="gen" uib-btn-radio="'gsc'" ng-change="generateNewTeam()">GSC</label>
                <label class="btn btn-default" ng-model="gen" uib-btn-radio="'adv'" ng-change="generateNewTeam()">ADV</label>
                <label class="btn btn-default" ng-model="gen" uib-btn-radio="'dpp'" ng-change="generateNewTeam()">DPP</label>
                <label class="btn btn-default" ng-model="gen" uib-btn-radio="'bw'" ng-change="generateNewTeam()">B/W</label>
                <label class="btn btn-default" ng-model="gen" uib-btn-radio="'xy'" ng-change="generateNewTeam()">X/Y</label>
            </div>
        </p>
        <p>
            <div class="btn-group">
                <label class="btn btn-default" ng-model="meta" uib-btn-radio="'uber'" ng-change="generateNewTeam()" ng-show="validMeta('uber')">Uber</label>
                <label class="btn btn-default" ng-model="meta" uib-btn-radio="'ou'" ng-change="generateNewTeam()" ng-show="validMeta('ou')">OU</label>
                <label class="btn btn-default" ng-model="meta" uib-btn-radio="'uu'" ng-change="generateNewTeam()" ng-show="validMeta('uu')">UU</label>
                <label class="btn btn-default" ng-model="meta" uib-btn-radio="'ru'" ng-change="generateNewTeam()" ng-show="validMeta('ru')">RU</label>
                <label class="btn btn-default" ng-model="meta" uib-btn-radio="'nu'" ng-change="generateNewTeam()" ng-show="validMeta('nu')">NU</label>
                <label class="btn btn-default" ng-model="meta" uib-btn-radio="'pu'" ng-change="generateNewTeam()" ng-show="validMeta('pu')">PU</label>
                <label class="btn btn-default" ng-model="meta" uib-btn-radio="'lc'" ng-change="generateNewTeam()" ng-show="validMeta('lc')">LC</label>
            </div>
        </p>
        <p>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="generateTeam()">Shake it up!</button>
            </div>
        </p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="well col-md-2 col-xs-4" ng-repeat="pokemon in team">
                <div class="text-center">
                    <button type="button" class="btn btn-default" ng-click="toggleLock(pokemon)">
                        <span class="glyphicon glyphicon-lock"></span>
                    </button>
                </div>
                <br />
                <div>
                    <input class="form-control" type="text" ng-model="pokemon.name" uib-typeahead="pkmn for pkmn in availablePokemon() | filter:$viewValue | limitTo:8" typeahead-editable="false" ng-disabled="pokemon.locked || pokemon.speciesLocked" />
                    <br />
                </div>
                <div ng-show="gen !== 'rby'">
                    <div><input class="form-control" type="text" ng-model="pokemon.item" ng-disabled="pokemon.locked" /></div>
                    <div ng-show="gen !== 'gsc'"><input class="form-control" type="text" ng-model="pokemon.ability" ng-disabled="pokemon.locked" /></div>
                    <br />
                </div>
                <div>
                    <div ng-repeat="i in [0,1,2,3] track by $index"><input class="form-control" type="text" ng-model="pokemon.moves[i]" ng-disabled="pokemon.locked" /></div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal" ng-click="exportTeam()">Export!</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exportModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title text-center">Export</h4>
                </div>
                <div class="modal-body">
                    <textarea rows="30" cols="60" ng-model="teamExport" ng-readonly="teamExportReadOnly"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="third-party/js/angular.min.js"></script>
    <script src="third-party/js/jquery-2.2.2.min.js"></script>
    <script src="third-party/js/bootstrap.min.js"></script>
    <script src="third-party/js/ui-bootstrap-custom-tpls-1.2.5.min.js"></script>

    <script src="js/generator.js"></script>
    <script src="js/data/xy_uber.js"></script>
    <script src="js/data/xy_ou.js"></script>
    <script src="js/data/xy_uu.js"></script>
    <script src="js/data/xy_ru.js"></script>
    <script src="js/data/xy_nu.js"></script>
    <script src="js/data/xy_pu.js"></script>
    <script src="js/data/xy_lc.js"></script>
    <script src="js/data/bw_uber.js"></script>
    <script src="js/data/bw_ou.js"></script>
    <script src="js/data/bw_uu.js"></script>
    <script src="js/data/bw_ru.js"></script>
    <script src="js/data/bw_nu.js"></script>
    <script src="js/data/bw_lc.js"></script>
    <script src="js/data/dpp_uber.js"></script>
    <script src="js/data/dpp_ou.js"></script>
    <script src="js/data/dpp_uu.js"></script>
    <script src="js/data/dpp_nu.js"></script>
    <script src="js/data/dpp_lc.js"></script>
    <script src="js/data/adv_uber.js"></script>
    <script src="js/data/adv_ou.js"></script>
    <script src="js/data/adv_uu.js"></script>
    <script src="js/data/adv_nu.js"></script>
    <script src="js/data/gsc_uber.js"></script>
    <script src="js/data/gsc_ou.js"></script>
    <script src="js/data/gsc_uu.js"></script>
    <script src="js/data/rby_uber.js"></script>
    <script src="js/data/rby_ou.js"></script>
    <script src="js/data/rby_uu.js"></script>
</body>
</html>
